<div class="nav-container grid-80 tablet-grid-50 mobile-grid-50">
  <div class="container" style="margin-top: 100px">
    <br>
    <div class="row">
      <div class="col-sm-8 ">
        <h3>Gửi tin nhắn cho tôi</h3>
        <form role="form" id="contactForm">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="name" class="h4">Tên</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" required>
            </div>
            <div class="form-group col-sm-6">
              <label for="email" class="h4">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="h4 ">Tin Nhắn</label>
            <textarea id="message" class="form-control" rows="7" placeholder="Enter your message" required></textarea>
          </div>
          <button type="submit" id="form-submit" class="btn btn-success " style="width: 30%">Gửi Tin Nhắn</button>
        </form>
      </div>

      <div class="col-sm-4">
        <h3>Địa Chỉ Của Chúng Tôi</h3>
        <h4><b>Young Coffee</b></h4>
        <p style="font-size: 19px">Địa Chỉ: 61 Trần Quang Diệu</p>
        <p style="font-size: 19px">Số Điện Thoại: (+84) 123456789</p>
        <h4><b>Email</b></h4>
        <p style="font-size: 19px">youngcoffee@gmail.com</p>
      </div>

    </div>

  </div>
