<div class="container" style="margin-left: 500px;">
  <div class="top">
      <h1 id="title" class="hidden"><span id="logo">Young <span>Coffee</span></span></h1>
  </div>
  <div class="login-box">
      <div class="box-header">
          <h2>Tìm Lại Mật Khẩu</h2>
      </div>
      <form>
          <p id="small">Vui lòng nhập địa chỉ email bạn đã sử dụng để đăng ký tài khoản YoungCoffee của mình</p><br>
          <label for="username">Tên tài khoản* &nbsp</label>
          <input type="text" id="username" required>
          <br/>
          <label for="username">Email của bạn*</label>
          <input type="text" id="username" required>
          <br/>
          <button><a routerLink="/user/login">Quay lại</a></button>
          <br>
          <button type="submit">Gửi</button>
          <br/>
      </form>
  </div>

</div>
