

 <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1>
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary" (click)="back()" >

                    <- Cửa Hàng
              </button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary" (click)="back1()" >

                Trang Chủ ->
              </button>
            </div>
          </div>
        </div>



      </div>


</body>

