<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <div>Formats:</div>
          <div>
              <div class="dropdown">
              <button class="dropbtn"><a href="COFFEE.html">COFFEE</a></button>
              <div class="dropdown-content">
                  <a href="TEA.html">TEA</a>
                  <a href="DRINKWARE.html">DRINKWARE</a>
                  <a href="EQUIMENTS.html">EQUIMENTS</a>
                  <a href="#">GIFT</a>
                  <a href="#">SALL</a>
              </div>
          </div>
          </div>
          <div>Savour</div>
          <div></div>
          <div></div>
      </div>
      <div class="col-md-10">
          <div class="form-group" style="text-align: right" id="Newest">
              <select class="form-control" id="sel1">
                  <option>Newest</option>
                  <option>Best Selling</option>
                  <option>Featured</option>
                  <option>Price - Low To High</option>
                  <option>Price - High To Low</option>
              </select>
          </div>
          <hr>
          <div class="row">
            <div class="container-fluid">
              <div class="row">
                  <!--4-->
                  <div class="col-lg-4">
                      <div class="incon4">
                          <div class="container ">
                              <img src="assets/img/Thumbanil-3.png" alt="" width="105%" style="">
                              <div class="textbox" style="padding-top: 10px">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                          <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                      </div>
                                      <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                          <p class="incon1">
                                              <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                              <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                              $14.5
                          </p>
                      </div>
                  </div>
                  <!--5-->
                  <div class="col-lg-4">
                      <div class="incon4">
                          <div class="container ">
                              <img src="assets/img/coffee-10.jpg" alt="" width="105%" style="">
                              <div class="textbox" style="padding-top: 10px">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                          <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                      </div>
                                      <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                          <p class="incon1">
                                              <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                              <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                              $14.5
                          </p>
                      </div>
                  </div>
                  <!--6-->
                  <div class="col-lg-4">
                      <div class="incon4">
                          <div class="container ">
                              <img src="assets/img/coffee-3.jpg" alt="" width="105%" style="">
                              <div class="textbox" style="padding-top: 10px">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                          <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                      </div>
                                      <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                          <p class="incon1">
                                              <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                              <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                              $14.5
                          </p>
                      </div>
                  </div>
              </div>
          </div>
             <div class="container-fluid">
                 <div class="row">
                     <!--4-->
                     <div class="col-lg-4">
                         <div class="incon4">
                             <div class="container ">
                                 <img src="assets/img/coffee-4.jpg" alt="" width="105%" style="">
                                 <div class="textbox" style="padding-top: 10px">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                             <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                         </div>
                                         <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                             <p class="incon1">
                                                 <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                 <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                             </p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                 $14.5
                             </p>
                         </div>
                     </div>
                     <!--5-->
                     <div class="col-lg-4">
                         <div class="incon4">
                             <div class="container ">
                                 <img src="assets/img/coffee-5.jpg" alt="" width="105%" style="">
                                 <div class="textbox" style="padding-top: 10px">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                             <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                         </div>
                                         <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                             <p class="incon1">
                                                 <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                 <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                             </p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                 $14.5
                             </p>
                         </div>
                     </div>
                     <!--6-->
                     <div class="col-lg-4">
                         <div class="incon4">
                             <div class="container ">
                                 <img src="assets/img/coffee-6.jpg" alt="" width="105%" style="">
                                 <div class="textbox" style="padding-top: 10px">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                             <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                         </div>
                                         <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                             <p class="incon1">
                                                 <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                 <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                             </p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                 $14.5
                             </p>
                         </div>
                     </div>
                 </div>
             </div>
            <div class="container-fluid">
                <div class="row">
                    <!--7-->
                    <div class="col-lg-4">
                        <div class="incon4">
                            <div class="container ">
                                <img src="assets/img/coffee-7.jpg" alt="" width="105%" style="">
                                <div class="textbox" style="padding-top: 10px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                            <span><a class="incon3"><img class="icon11" src="img/icon-compare-round.png" style="" ></a></span>
                                        </div>
                                        <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                            <p class="incon1">
                                                <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                $14.5
                            </p>
                        </div>
                    </div>
                    <!--8-->
                    <div class="col-lg-4">
                        <div class="incon4">
                            <div class="container ">
                                <img src="assets/img/coffee-8.jpg" alt="" width="105%" style="">
                                <div class="textbox" style="padding-top: 10px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                            <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                        </div>
                                        <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                            <p class="incon1">
                                                <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                $14.5
                            </p>
                        </div>
                    </div>
                    <!--9-->
                    <div class="col-lg-4">
                        <div class="incon4">
                            <div class="container ">
                                <img src="assets/img/coffee-9.jpg" alt="" width="105%" style="">
                                <div class="textbox" style="padding-top: 10px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="padding-right: 20px;margin-left: -22px"><img class="icon10" src="assets/img/icon-heart-round.png" ></span>
                                            <span><a class="incon3"><img class="icon11" src="assets/img/icon-compare-round.png" style="" ></a></span>
                                        </div>
                                        <div class="col-md-12" style="padding-top: 20px;text-align: center">
                                            <p class="incon1">
                                                <a href="#"><img src="assets/img/icon-cart-round.png"></a>
                                                <span style="color: #c44e0f"><a href="#">ADD TO BAG</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="font-family: 'Arial Black';color: #0f0f0f;text-align: center;font-size: 18px">Guatemala Casi Cielo®, Whole Bean<br>
                                $14.5
                            </p>
                        </div>
                    </div>
                </div>
            </div>


              <div class="pagination">
                  <a href="#">&laquo;</a>
                  <a href="COFFEE.html" class="active">1</a>
                  <a href="COFFEE_2.html" >2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">&raquo;</a>
              </div>
          </div>
      </div>
  </div>
</div>
