<footer style="margin-top: 5%; padding-left: 10px; padding-right: 20px">
  <div class="row">
      <div class="col-lg-3" style="font-size: 20px">
          <a href="#"><img src="assets/img/Young.png" style="width: 40%; padding-bottom: 20px; margin-left: 150px;"></a>
          <table>
              <tr>
                  <th class="fon">Địa Chỉ:</th>
                  <td class="fon"><a href="#"> 61 Trần Quang Diệu </a></td>
              </tr>
              <tr>
                  <th class="fon">Số Điện Thoại:</th>
                  <td class="fon"> (+84) 123456789</td>
              </tr>
              <tr>
                  <th class="fon">Email:</th>
                  <td class="fon"> youngcoffee@gmail.com</td>
              </tr>

          </table>
      </div>
      <div class="col-lg-3">
          <div class="fon"><h3>Chính sách</h3></div><br>
          <ul id="footer1" style="text-decoration: none; font-size: 20px">
              <li class="fon"><a href="#">Chính sách bảo mật</a></li><br>
              <li class="fon"><a href="#">Chính sách thanh toán</a></li><br>
              <li class="fon"><a href="#">Chính sách Đổi trả & Đổi hàng</a></li><br>
              <li class="fon"><a href="#">Điều khoản và điều kiện</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <div class="fon"><h3>ĐĂNG KÝ BẢN TIN CHO YOUNG COFFEE</h3></div><br>
          <div class="form-group" style="margin-top: -50px">
              <label class="control-label"></label>
              <div><input class="form-control" type="text" placeholder="Enter your email"></div>
          </div>

          <button class="btn btn-danger" type="submit" style="width: 30%">
              GỬI
          </button>
      </div>
      <div class="col-lg-3">
          <div class="fon"><h3>KẾT NỐI MẠNG XÃ HỘI</h3></div><br>
          <a href="#"><img src="assets/img/facebook1.jpg" onmouseover="this.src='assets/img/facebook.jpg'" onmouseout="this.src='assets/img/facebook1.jpg'" width="15%"/></a>
          <a href="#"><img src="assets/img/Instagram1.jpg" onmouseover="this.src='assets/img/Instagram.jpg'" onmouseout="this.src='assets/img/Instagram1.jpg'" width="15%"/></a>
          <a href="#"><img src="assets/img/Skype1.jpg" onmouseover="this.src='assets/img/Skype.jpg'" onmouseout="this.src='assets/img/Skype1.jpg'" width="15%"/></a>
          <a href="#"><img src="assets/img/Linkedin1.jpg" onmouseover="this.src='assets/mg/Linkedin.jpg'" onmouseout="this.src='assets/img/Linkedin1.jpg'" width="15%"/></a>
          <a href="#"><img src="assets/img/twitter1.jpg" onmouseover="this.src='assets/img/twitter.jpg'" onmouseout="this.src='assets/img/twitter1.jpg'" width="15%"/></a>
          <a href="#"><img src="assets/img/GG1.jpg" onmouseover="this.src='assets/img/GG.jpg'" onmouseout="this.src='assets/img/GG1.jpg'" width="15%"/></a>
      </div>
  </div>

</footer>
<a href="#single-page-header"><img src="assets/img/incon-00.png" width="5%" style="float: right"></a>
