<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
    <div></div>
    <div class="container" style="padding: 0; position: relative">
      <div></div>
      <div class="container">
        <h1 style="font-family: cursive; color: orange;">Danh Sách Tài Khoản</h1>
        <div style="display: flex; justify-content: space-between">
          <div>
            <!-- <p>
              <a class="btn btn-primary" href="/admin/newStaff">ADD STAFF</a>
            </p> -->
          </div>
          <div class="search_box pull-right">
            <div class="input-group">
              <form>
                <label>Tìm Kiếm: </label>
                <input type="text" name="keyword" id="keyword" size="50" [(ngModel)]="keyword"/>
                <button (click)="loadSearching(keyword)" style="margin-left: 20px;margin-top: -20px; width: 80px; text-align: center;"class="btn btn-success" >
                  Tìm kiếm
                </button>
                <button (click)="loadUser()" class="btn btn-info" style="width: 80px;margin-left: 20px;margin-top: -20px;">Danh sách</button>
              </form>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr style="text-align: center">
              <th style="text-align: center">Mã Tài Khoản</th>
              <th style="text-align: center">Tên Tài Khoản</th>
              <th style="text-align: center">Mật Khẩu</th>
              <th style="text-align: center">Trạng Thái</th>
              <th style="text-align: center">Phân quyền</th>
              <th style="text-align: center">Tùy Chỉnh</th>
            </tr>
          </thead>
          <tbody *ngFor="let p of data">
            <tr>
              <td>{{p.userId}}</td>
              <td>{{p.userName}}</td>
              <td>{{p.password}}</td>
              <td>{{p.status}}</td>
              <td>{{p.isAdmin}}</td>
              <td style="text-align: center">

                <a class="btn btn-danger btn-sm" (click)="deleteUser(p.userId)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="text-center">
          <div class="text-center">
            <span>Total Items</span>
          </div>
          <nav class="pagination justify-content-center flex-wrap">

            <li>
              <a class="page-link">First</a>
            </li>
            <li>
              <a class="page-link">Previous</a>
            </li>

            <li class="page-item">
              <a class="page-link"></a>
            </li>



            <li class="page-item">
              <a class="page-link"> </a>
            </li>
            <li>
              <a class="page-link">...</a>
            </li>
            <li class="page-item">
              <a class="page-link"></a>
            </li>


            <li>
              <a class="page-link">...</a>
            </li>
            <li class="page-item">
              <a class="page-link"></a>
            </li>
            <li>
              <a class="page-link">...</a>
            </li>

            <li>
              <a class="page-link">Next</a>
            </li>
            <li>
              <a class="page-link">Last</a>
            </li>

          </nav>
        </div> -->
      </div>
    </div>
  </div>
</div>
